:root {
  --theme: light;
  --white: #fff;
  --black: #303030;
  --gray: #fafafa;
  --primary: #ec7e2a;
  --second: #e7f8ff;
  --window-width: 90vw;
  --window-height: 90vh;
  --header-height: 50px;
  --player-bar-height: 40px;
  --timeline-height: 250px;
  --timeline-toolbar-height: 30px;
  --timeline-track-height: 40px;
  --right-sidebar-width: 300px;
  --workspace-height: calc(100% - var(--header-height) - var(--timeline-height));
  --workspace-main-height: calc(100% - var(--header-height) - var(--timeline-height) - var(--timeline-track-height));
  --window-content-width: calc(100% - var(--right-sidebar-width));
}

html {
  font-family: ui-sans-serif,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Helvetica Neue,
  Arial,
  Noto Sans,
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol,
  Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

* {
  border-style: solid;
  border-width: 0;
}

html,
body,
#__nuxt {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
}

div {
  box-sizing: border-box;
}

#__nuxt {
  @apply mx-auto max-w-7xl my-0 bg-white shadow dark:bg-zinc-800;
}

html.dark,
.dark #__nuxt {
  @apply bg-zinc-950;
  color: #ebf4f1;
}

html.dark-theme {
  color: white;
  transition: background-color 0.5s ease,
  color 0.5s ease;
}

body {
  @apply bg-[url('/grid-black.svg')] bg-top bg-repeat text-black antialiased dark:bg-gray-950 dark:bg-[url('/grid.svg')] dark:text-white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ant-tabs-tab {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.ant-tabs-content.ant-tabs-content-top {
  height: 100%;
}

.ant-tabs.ant-tabs-top {
  height: 100%;
}

.tab-main .ant-tabs-nav-list {
  @apply pl-5;
}

.ant-tabs-nav {
  margin-bottom: 0px !important;
}

.ant-form-item-no-mb .ant-form-item {
  margin-bottom: 0 !important;
}

.form-item-thin-margin.ant-form-item {
  margin-bottom: 5px !important;
}

.form-compact {
  .ant-form-item-label {
    margin-bottom: 0 !important;
  }

  .ant-form-item {
    margin-bottom: 8px !important;
  }
}

.camera-control-title {
  .ant-form-item-label {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .ant-form-item {
    margin-bottom: 0 !important;

    label {
      font-size: 12px !important;
    }
  }
}

.pgr-sm {
  margin-bottom: 0px;
  margin-right: 0px;
}
